@media screen and (max-width: 768px){
        * {
            margin: 0;
            padding: 0;
            /* box-sizing: border-box; */
       }

       a {
        text-decoration: none;
        color: white;
    }
    a:visited{
        color: inherit;
      }

       body {
           background-color: rgba(241, 245, 22, 0.1);
           height: 100%;
       }

       .main-header {
        height: 13.5vh;
        background-color: lightsalmon;
        z-index: 2;
        opacity: 0.75;
        margin-bottom: 20px;
        border-top: dashed 10px black;
        border-bottom: dashed 10px black;
    }
    
    .main-header h1 {
        font-size: 6vh;
        text-align: center;
        letter-spacing: 3vw;
        font-family: 'Philosopher',serif;
    }
    .main-header p {
        text-align: center;
        font-size: 4vh;
        letter-spacing: 1vw;
        line-height: 1;
        font-family: 'Philosopher',serif;
    }
    
    .br::before {
        content: "\A" ;
        white-space: pre ;
    }
       .wrapper {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 20px;

       }

       .content {
           width: 25%;
           text-align: center;
           border: dashed 2px black;
           margin: 10px 5px 0px 5px;
       }

       .content p {
           font-size: 10px;
           line-height: 1;
           margin-bottom: 5px;
       }

       .wrapper img {
            height: 80px;
            width: 80%;
            cursor: pointer;
            margin-top: 5px;
       }
       
       /* modal */
       
       .modal-wrapper {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.85);
            pointer-events: none;
            opacity: 0;
            transition: 0.25s ease-out;
       }
       
       .modal-wrapper.show {
            opacity: 1;
            pointer-events: all;
       }
       
       .modal-image {
            position: absolute;
            max-width: 80%;
            max-height: 80%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            opacity: 0;
            transition: 0.5s ease-out;
       }
       
       .modal-image.show {
            opacity: 1;
       }


       .page-footer {
        background-color: #000;
        opacity: .6;
        position: relative;
        bottom: 0;
        width: 100%;
        height: 30px;
    }
    
    .footer-list {
        display: flex;
        opacity: 1;
        justify-content: center;
        list-style: none;
        padding-top: 2px;
    }
    
    .footer-list a {
        margin: 5px;
        font-size: 12px;
        color: white;
    }
    
    .footer-list a:hover {
        color: aqua;
    }
}
